body {
  padding-top: 68px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 300 !important;
  color: #1271A9 !important;

}

\index.html p {
  color: #1D263F !important;
}

.homepage .card-footer {
  text-align: end;
}

.about a,
.parks a,
.contact a {
  text-decoration: none !important;
}

.about a:hover,
.parks a:hover,
.contact a:hover {
  text-decoration: underline !important;
}

.navbar {
  background-color: #1271A9;  
}

.navbar-brand {
  width: 300px;  
}

.nav-link {
  margin-right: 2rem;
  font-size: 20px !important;
}

.navbar-toggler {
  border: 2px solid rgba(0, 0, 0, 0) !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.navbar-toggler:hover {
  border: 1px solid white !important;
}

.carousel-item {
  height: 100vh;
  max-height: 300px;
  background: no-repeat center scroll;
  background-origin: content-box;
  background-size: cover;
}

@media only screen and (min-width:992px) {
  .carousel-item {
    max-height: 600px;
  }
}

.carousel-control-prev-icon {
  background-color: rgba(29, 38, 63, 0.5);
}

.carousel-control-prev:hover .carousel-control-prev-icon {
  background-color: rgba(29, 38, 63, 1);
}

.carousel-control-next-icon {
  background-color: rgba(29, 38, 63, 0.5);
}

.carousel-control-next:hover .carousel-control-next-icon {
  background-color: rgba(29, 38, 63, 1);
}

.homecard .card-header {
  background-color: #1271A9;
  color: white;
}

.homecard .card-footer a {
  border: 2px solid #1271A9;
  color: #1271A9;
  font-weight: 500;
}

.homecard .card-footer:hover a {
  background-color: #1271A9;
  color: white;
}

.booking {
  text-decoration: none;
  color: #1271A9;
  font-weight: 500;
}

.booking:hover {
  color: #1D263F;
  text-decoration: underline;
}

.cta {
  text-align: end;
}

.cta a {
  border: 2px solid #1271A9;
  color: #1271A9;
  font-weight: 500;
}

.cta:hover a {
  background-color: #1271A9;
  color: white;
}

.contact button {
  border: 2px solid #1271A9;
  color: #1271A9;
  font-weight: 500;
}

.contact button:hover {
  border: 2px solid #1271A9;
  background-color: #1271A9;
  color: white;
}

footer {
  background-color: #1271A9;
}