.clearfix::after,
.clearfix::before {
    content: "";
    display: table;
    clear: both;
}

@font-face {
    font-family: rtcfont;
    src: url(./Fonts/NunitoSans-Regular.ttf);
    src: url(./Fonts/NunitoSans-SemiBold.ttf);
    src: url(./Fonts/NunitoSans-Light.ttf);

}

body {
    /* width: 1920px; */
    max-width: 2000px;
    min-width: 1800px;
    /* border:1px solid red; */
    /* position: absolute;
    left: 0px;
    right: 0px; */
    margin: 0 auto;
    overflow-x: hidden;
}

.container {
    width: 1519px;
    /* height: 1800px; */
    /* border:1px solid blue; */
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}

.contact {
    position: fixed;
}

.header {
    width: 1519px;
    height: 134px;
    position: absolute;
    top: 42px;
    border-bottom: 0.5px solid lightgrey;
    background-color: white;
}

.logo {
    width: 220px;
    height: 77px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 180px;
}

.nav {
    width: 660px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 150px;
    right: 0;
    /* border: 1px solid blue; */

}

.nav li {
    float: left;
    font-family: rtcfont;
    font-size: 14px;
    font-weight: bold;
    color: #2A3139;
    margin: 40px 18px;

}

.nav .covid {
    width: 150px;
    height: 30px;
    margin: 25px 20px;
    padding: 5px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #58D690, #1D8753);
    /* vertical-align: middle; */
    /* background-color: blue; */
}

.covid span {
    display: block;
    margin-top: 6px;
    font-size: 18px;
    color: white;
    text-align: center;
}

.covid:hover {
    background-image: linear-gradient(to right, #17ccff, #0b72eb);
    /* background-color: aqua; */
}

.header i {
    position: absolute;
    top: 55px;
    left: 1150px;
}

.apply {
    position: relative;
    top: 23px;
    left: 600px;

}

.online {
    width: 1519px;
    height: 61px;
    /* background-color: blue; */
    position: absolute;
    top: 177px;
    font-family: rtcfont;
    font-size: 14px;
    font-weight: bolder;
    background-color: white;
}

.online p {
    position: absolute;
    top: 20px;
    left: 860px;

}

.learning {
    width: 1519px;
    height: 2450px;
}

.ihome {
    width: 1519px;
    height: 6000px;
}

.nav li:hover {
    color: blue;
}

.fake {
    /* width: 100px;
    height: 100px;
    background-color: blue; */
    float: left;
    margin-top: 300px;
    margin-left: 50px;
    position: sticky;
    top: 42px;
}

.right {
    width: 100px;
    height: 100px;
    /* background-color: red; */
    float: right;
    margin-top: 5500px;
    margin-right: 40px;
    position: sticky;
    top: 42px;
}

.icontact {
    position: absolute;
    left: 550px;
}

.dropdown {
    width: 200px;
    /* border: 1px double red;   */
    /* display: none; */
}

.dropdown li {
    width: 200px;
    margin: 15px 20px;
    text-align: left;
    color: white;
    /* z-index:9999; */
}

.down i {
    font-size: 30px;
    color: #58D690;
    position: absolute;
    top: -18px;
    left: 50px;
    /* display: none; */
}

.down {
    position: absolute;
    top: 90px;
    left: 0px;
    background-image: linear-gradient(#58D690, #1D8753);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    /* border: 1px solid; */
}

.nav li {
    text-decoration: none;
}

.downdrop {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 465px;
    /* border: 1px solid red; */
    z-index: 999;
}

.downdrop:hover .down {
    display: block;
}