@font-face {
  font-family: "iconfont"; /* Project id 2723092 */
  src: url('iconfont.woff2?t=1629584923345') format('woff2'),
       url('iconfont.woff?t=1629584923345') format('woff'),
       url('iconfont.ttf?t=1629584923345') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cloud-question:before {
  content: "\e60a";
}

.icon-Comment_bubble_question_mark:before {
  content: "\eaa7";
}

.icon-back:before {
  content: "\e763";
}

.icon-pencil:before {
  content: "\e790";
}

.icon-lock:before {
  content: "\e69b";
}

.icon-lockisopen_line:before {
  content: "\e6a4";
}

.icon-right-arrow:before {
  content: "\e629";
}

.icon-left-arrow:before {
  content: "\e62a";
}

.icon-play:before {
  content: "\e62e";
}

.icon-pause:before {
  content: "\e62f";
}

.icon-replay:before {
  content: "\e740";
}

